
*.json
*.h5
*.hdf5
.DS_Store

data/raw
data/barcodes
data/mnist
implementations/*/data
implementations/*/images
implementations/*/saved_models
images3/
images/*
images/full_dataset_different_thresholds/*
implementations/aae/latest_model
implementations/aae/plots

__pycache__
